/**Overriding card css**/
.card {
  padding-top: 10px;
  padding-bottom: 10px;
}

/**Overriding floating button class**/
.btn-floating {
  margin: 2px;
}

/**Add top margin to nav**/
.nav-wrapper {
  margin-top: 10px;
}
